<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.11.0.js"></script>
</head>

<body>
<!-- <p th:text="${phone_number}" id="id1"></p>-->
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;margin: 0 auto">

</div>
</body>

<script>
    var myChart = echarts.init(document.getElementById('main'));
    var username = "[[${phone_number}]]";
    myChart.showLoading();
    var names = [];    //横坐标数组（实际用来盛放X轴坐标值）
    var values = [];   //纵坐标数组（实际用来盛放Y坐标值）
    $.ajax({
        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "/projectType",
        data: {phone_number: username},
        type: 'GET',
        dataType: 'json',
        success: function (result) {

            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    names.push(result[i].type);
                    values.push(result[i].number);
                }
                //window.alert(names);
                myChart.hideLoading();    //隐藏加载动画
                myChart.setOption({        //加载数据图表

                    grid: {

                        left:'center',
                        top:'middle',
                        width:'70%',
                        height:'60%'
                    },
                    tooltip: {},//鼠标浮动时的工具条，显示鼠标所在区域的数据，trigger这个地方每种图有不同的设置


                    legend: {
                        data: ['數量']
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: names
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '數量',// series not exists. Legend data should be same with series name or data name.
                        type: 'line',
                        data: values
                    }]
                });
            }
        },
        error: function () {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    });


</script>
</html>